{% extends "adpage/base.html" %}


{% block page_content %}

<script>
    $(function(){
        $('#jiaocheng').addClass('active')
    })
</script>
<style>
    .block{
        margin-top: 3em;
    }
    img{
        padding: 2em;
        box-shadow: 0px 0px 10px 5px #666;
        margin:3em;
    }

</style>
<div>
    <div class="block">
        <h1>解压文件</h1>
        <p>将下载来的压缩文件解压后，可以看到很多文件，如下图。其中wepush.exe是微信群发软件的启动软件，你需要双击该图标运行。data文件夹是您存放推广信息的地方。</p>
        <img src="/static/image/j1.jpg" alt=""/>
    </div>
    <div class="block">
        <h1>设置推广信息</h1>
        <p>将编辑好的文本与图片信息放入data文件夹。</p>
        <p>文本的后缀名必须是.txt。</p>
        <p>图片的后缀名是png,jpg等符合微信要求的图片类型。注意不要放置过大的图片，以免发送缓慢，浪费用户流量。</p>
        <img src="/static/image/j2.jpg" alt=""/>
        <p>当设置好推广信息后，就可以打开软件进行发送了。</p>
    </div>
    <div class="block">
        <h1>发送主要流程</h1>
        <p>要发送信息，主要有以下几个步骤</p>
        <ul>
            <li>从服务器，获取允许登陆的二维码。点击按钮（刷新二维码）</li>
            <li>用户刷二维码，在手机端确认登陆。</li>
            <li>筛选用户。见下图左侧的界面。其中联系人过滤是按照联系人的地域来进行选择。</li>
            <li>发送。点击按钮（发送）</li>
            <li>如果发送完毕，或者需要登陆另外的用户，需要退出登陆。点击按钮（登出用户）</li>
        </ul>
        <img src="/static/image/j3.jpg" alt=""/>
    </div>

    <!--<div>-->
        <!--<h1>其他注意事项</h1>-->
        <!--<ul>-->
            <!--<li>该软件的运行需要联网！</li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->

</div>
{% endblock %}